table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #dddddd;
}

#add-candidate {
  display: inline-block;
  margin-top: 10px;
  padding: 8px;
  background-color: #dddddd;
  text-decoration: none;
}
