.ball {
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: red;
  bottom: 700px;
}

.start {
  position: fixed;
  top: 50px;
  left: 300px;
  width: 200px;
  height: 100px;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 10px;
}

.start:active {
  background-color: antiquewhite;
}
